/* Import af custom fonte  */

@font-face {
  font-family: "Jakarta sans-serif";
  src: url(Fonts/PlusJakartaSans-Light.woff2) format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Jakarta sans-serif";
  src: url(Fonts/PlusJakartaSans-Regular.woff2) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Jakarta sans-serif";
  src: url(Fonts/PlusJakartaSans-Medium.woff2) format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Jakarta sans-serif";
  src: url(Fonts/PlusJakartaSans-SemiBold.woff2) format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Jakarta sans-serif";
  src: url(Fonts/PlusJakartaSans-Bold.woff2) format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Jakarta sans-serif";
  src: url(Fonts/PlusJakartaSans-ExtraBold.woff2) format("woff2");
  font-weight: 800;
}

/* ---------------CSS Variabler-------------------------*/

:root {
  /* Color schemes */
  --offWhite: #fcfcfc;
  --white: #ffffff;
  --darkGrey: #202020;

  --primary-color-600: #FF5500;
  --primary-color-500: #FF7033;
  --primary-color-400: #FF9466;
  --primary-color-300: #FFB799;
  --primary-color-200: #FFDBCC;
  --primary-color-100: #FFF8F5;

  --alert-color: #ED0D38;
  --succes-color: #15B250;

  /* Font families */

  --Header-font-family: "Plus Jakarta Sans", sans-serif;
  --body-font-family: "Lato", sans-serif;

  /* Font sizes ---  Pixels er konverteret til rem, derefter er (fluid-typography.netlify.app/) anvendt 
  til at skabe responsiv Clamp funktion*/

  --Text-size-XXLarge: clamp(2.375rem, 2.6vw + 1.7rem, 4.209rem);
  --Text-size-XLarge: clamp(1.75rem, 0.6vw + 1.6rem, 2.369rem);
  --Text-size-Large: clamp(1.333rem, 0.5vw + 1.2rem, 1.777rem);

  --text-size-body-large: 1.333rem;
  --text-size-body: 1rem;
  --text-size-body-small: 0.75rem;

  --text-size-button: 1.11rem;

  /* Font colors */

  --text-color-white: #ffffff;
  --text-color-darkgrey: #202020;
  --text-color-orange: hsl(20, 100, 60);

  /* Font Opacities */

  --opacity-base: 100%;
  --opacity-high-emphasis: 95%;
  --opacity-medium-emphasis: 85%;
  --opacity-low-emphasis: 65%;

  /* Font letter spacing */

  --text-kerning-h1-mobile: 10%;
  --text-kerning-h1-desktop: 2px;

  --text-kerning-h2-mobile: 1px;
  --text-kerning-h2-mobile: 10%;

  --text-kerning-h3-mobile: 10%;
  --text-kerning-h3-mobile: 10%;
  

  /* Font Line height */

  --text-leading-XXlarge-mobile: 56px;
  --text-leading-Xlarge-mobile: 36px;
  --text-leading-large-mobile: 28px;
  --text-leading-medium-mobile: 25px;
  --text-leading-base-mobile: 25px;

--text-leading-XXlarge-desktop: 90px;
  --text-leading-Xlarge-desktop: 65px;
  --text-leading-large-desktop: 30px;
  --text-leading-medium-desktop: 26px;
  --text-leading-base-desktop: 25px;


  /* Spacing Variables*/

  --section-padding-mobile: 80px;
  --section-padding-desktop: 112px;

  --title-padding-mobile: 24px;
  --title-padding-desktop: 32px;

  --paragraph-padding-mobile: 16px ;
  --paragraph-padding-mobile: 24px ;

  --grid-gap-mobile: 10px;
  --grid-gap-desktop: 20px;

  --margin-mobile: 16px;
  --margin-tablet: 96px;
  --margin-desktop: 128px;


  --testimonial-inline-padding: 40px;

  /* Box shadows */

  --box-shadow-grey-webkit: -webkit-box-shadow: 0px 27px 48px 11px rgba(179,179,179,0.31);
  --box-shadow-grey-moz: -moz-box-shadow: 0px 27px 48px 11px rgba(179,179,179,0.31);
  --box-shadow-grey: box-shadow: 0px 27px 48px 11px rgba(179,179,179,0.31);


  /* -----------Custom CSS Properties------------------ */

  /* Color schemes */

  --bg-color: var(--offWhite);
  --footer-bg-color: var(--darkGrey);
  --card-bg-color: var(--white);

  --button-bg-color: var(--primary-color-600);
  --button-bg-color-hover: var(--primary-color-400);

  /* Font sizes */

  --header1-size: var(--Text-size-XXLarge);
  --header2-size: var(--Text-size-XLarge);
  --header3-size: var(--Text-size-Large);

  --paragraph-large: var(--text-size-body-large);
  --paragraph: var(--text-size-body);
  --paragraph-small: var(--text-size-body-small);
  --button-text: var(--text-size-button);

}


/* Reset boxmodel */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    background-color: var(--bg-color);
}

article {
    margin-bottom: var(--section-padding-mobile);
}


/*  ------------------text styling -----------*/




h1, h2, h3 {
    font-family: var(--Header-font-family);
    padding-bottom: var(--title-padding-mobile);
}

h1 {
    font-size: var(--Text-size-XXLarge);
    letter-spacing: var(--text-kerning-h1-desktop);
    line-height: var(--text-leading-XXlarge-mobile);
    font-weight: 800;
}

p {
    font-size: var(--text-size-body);
    letter-spacing: 1px;
    line-height: var(--text-leading-base-mobile);
    font-family: var(--body-font-family);
    padding-bottom: var(--paragraph-padding-mobile);
    max-width: 70ch;
    
}

/* Buttons components */

.cta {
    width: 240px;
    
    background-color: #FF4F04;
    border: none;
    color: var(--white);
    font-family: var(--body-font-family);
    font-size: var(--text-size-button);
    font-weight: 600;
    border-radius: 8px;
    position: relative; 
    overflow: hidden;
    transition: 300ms ease-in-out;
   
    padding-block: 15px;
 
}

.cta:hover {
 
    padding-right: 30px;
}

.cta span {
    position: absolute;
    margin-left: 10px;
    transform: translateX(-50%);
    opacity: 0;
    right: -10%;
    transition: 400ms ease-in-out;
}

.cta:hover span{
    opacity: 1;
    transform: translateX(0);
    right: 10%;
}

.cta::before{
   content:'';
   position:absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   transform: scaleX(0);
   transition: 100ms ease-in-out transform;
}

.cta:active::before {
    transform: scaleX(1);
}


button {
    cursor: pointer;
}


.secondaryButton {
    display: flex;
    flex-direction: row;
    align-content: center;
    border: none;
    background-color: #ff4f0400;
    color: #FF4F04;
    padding-block: 15px;
    font-size: var(--text-size-button);
}

.secondaryButton span {
    padding-left: 10px;
}


/*  ------------------Navigation styling -----------*/


header {
    overflow: hidden;
}

nav {
  padding-inline: var(--margin-mobile);
  padding-block: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  z-index: 9999;
  background-color: var(--bg-color);
  top: 0;
}

.logoWrapper {
    display: flex;
    align-items: center;

}

.logoWrapper a p {
    padding-bottom: 0;
    color: var(--black);
}



.logo {
        
        font-size: var(--text-size-body);
    }


ul {
  list-style-type: none;
}

li {
  display: inline;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: var(--text-color);
}

.line {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
}

  .menuKnap {
    margin-right: var(--margin-mobile);
  }

  

.openMenu {
  text-decoration: none;
  color: black;
  right: 100px;
  font-family: var(--Header-font-family);
  font-size: 2rem;
  font-weight: 500;
  background-color: rgba(177, 22, 22, 0);
  border: none;
}

.closeMenu {
  position: absolute;
  text-decoration: none;
  color: white;
  top: 1rem;
  right: 2rem;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  z-index: 99;
}

.closeMenu:hover {
  cursor: pointer;
}


.ul {
  position: absolute;
  left: 20%;
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: left;
  height: 100vh;
  flex-direction: column;
}

.ul li {
  margin: 20px 0;
  z-index: 2;
}

.ul li a {
  text-decoration: none;
  color: white;
  transition: 2s;
  font-family: var(--Header-font-family);
  font-size: var(--Text-size-XLarge);
  
  font-weight: 500;
  mix-blend-mode: difference;
  position: relative;
}

.menu {
  position: absolute;
  top: 0;
  left: -5px;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color-500);
  transform: translateX(-100%);
}

.menu .button {
  color: white;
}


.deskTopNav {
  display: none;
}


/* --------HERO SECTION-------------- */


.heroSection {
    background-image: url(/images/bgfront.webp);
    background-position: 52% 35%;;
    background-attachment: fixed;
     background-repeat: no-repeat;
   height: 100vh;
    width: 100%;
    overflow: hidden;
    position:relative;
    margin-bottom: var(--section-padding-mobile);
    
}

.heroSection .heroTextContainer {
    margin-inline: var(--margin-mobile);
    position: absolute;
    top: 40%;
    
}

.heroTextContainer h1 {
    color: var(--white);
}


.heroTextContainer p {
    color: var(--white);
    max-width: 55ch;
}

.heroSubtext {
    padding-bottom: var(--paragraph-padding-mobile);
}


@media (min-width: 810px) {

    .heroSection .heroTextContainer {
    margin-inline: var(--margin-tablet);
    position: absolute;
    top: 40%;
    
}

  .heroTextContainer h1 {
    color: var(--white);
     max-width: 100ch;
    line-height: var(--text-leading-Xlarge-desktop);
}

.heroTextContainer p {
max-width: 60ch;
}

}
@media (min-width: 1366px) {
    .heroSubtext {
    padding-bottom: var(--title-padding-desktop);
}

.heroSection .heroTextContainer {
    margin-inline: var(--margin-desktop);
    position: absolute;
    top: 40%;
    max-width: 80ch;
}

.heroTextContainer h1 {
    max-width: 100ch;
    line-height: var(--text-leading-XXlarge-desktop);
}
}


/* ------------Intro Section----------- */

h2 {
    line-height: var(--text-leading-Xlarge-mobile);
    font-size: var(--Text-size-XLarge);
}

.introText {
    margin-inline: var(--margin-mobile);
   
}

.introText img {
    width: 100%;
    height: auto;
}

.introTextGrid{
  
    
    max-width: 65ch;
}


@media (min-width: 810px) {
.introText {

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    
    gap: 16px;
    margin-inline: var(--margin-tablet);
}

.introTextGrid{
    grid-column: 1/5;
    
    max-width: 75ch;
}



.introImgGrid {
    grid-column: 5/9;
 
}

}



@media (min-width: 1355px) {
.introText {

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows:1fr 3fr 1fr;
    gap: 16px;
    margin-inline: var(--margin-desktop);
}

.introTextGrid{
    grid-column: 1/6;
    grid-row: 2;
    max-width: 75ch;
}

.introTextGrid h2 {
    padding-bottom: var(--title-padding-desktop);
    line-height: var(--text-leading-Xlarge-desktop);
}


.introImgGrid {
    grid-column: 6/13;
    grid-row: 1/4;
}
}













/* ----------Produktliste frontpage-------------- */

.produktListFrontPage {
    margin-inline: var(--margin-mobile);
}

.imageStackContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    margin-top: var(--section-padding-mobile);
}

.imageStackContainer img{
    width: 100%;
    height: auto;
}

.imageStackContainer .imageBottom{
    grid-column: 1/4;
    grid-row: 1/5;
}

.imageStackContainer .imageTop{
 grid-column: 3/5;
    grid-row: 3/5;
}

@media (min-width: 810px) {
    .produktListFrontPage {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows:  1fr 1fr 1fr 1fr;
        gap: 16px;
    }

.imageStackContainer {
    grid-column:  1/4;
    grid-row: 1/4;
}

.productFrontGrid {
    grid-column: 5/9;
    grid-row: 2;
}



}

@media (min-width: 1355px) {

}
/* -----------------ABOUT ------------- */


.aboutFront {
    margin-top: -7rem;
    background-color: var(--primary-color-200);
    padding-block: 3rem;
    position: relative;
    
}



.aboutFront .aboutbgwrap {
    margin-inline: var(--margin-mobile);
}

.aboutFront img {
    display: none;
}

@media (min-width: 810px) {

   
.aboutFront .aboutbgwrap {
display: grid;
grid-template-columns: repeat(8, 1fr);
margin-inline: var(--margin-tablet);
}

.textContentContainer {
    grid-column: 1/5;
}
.aboutbgwrap {
    position: relative;
}



.aboutbgwrap img {
    display: block;
    grid-column: 6/10;
    width: 100%;
    height: 60vh;
     position: absolute;
    top: 0;
}
}


@media (min-width: 1366px) {

    .aboutFront {
        padding-block: 6rem;
    }
.aboutbgwrap img {
    display: block;
    grid-column: 6/9;
    position: absolute;
    width: 496px;
    height: auto;
    top: -50%;
}


}



/* ------------Testimonial section---------- */


.testimonialSection {
    margin-inline: var(--margin-mobile);

}

.h3flexContainer {
    display: flex;
    justify-content: center;
   
}
.testimonialSection h3 {
    text-align: center;
    max-width: 24ch;
    padding-bottom: var(--section-padding-mobile);
    line-height: var(--text-leading-Xlarge-mobile);
    font-size: var(--Text-size-XLarge);
}


/* testimonial card component */

.testimonialFlexcontainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 2rem;
    
}


.testimonialCardContainer {
    /* padding-block: var(--title-padding-mobile); */
    padding-inline: var(--testimonial-inline-padding);
    display: flex;
    flex-direction: column;
   justify-content: center;
    width: 300px;
    height: 350px;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    border-radius: 8px;
    margin-bottom: var(--title-padding-mobile);
    position: relative;
    
    
}

.testimonialCardContainer  svg {
    height: 44px;
    position: absolute;
    top: 5px;
}

.testimonialCardContainer > * {
    margin-top: var(--paragraph-padding-mobile);
    max-width: 25ch;
}
.cardPerson {
opacity: var(--opacity-low-emphasis);
}

.cardStory {
    padding-top: var(--section-padding-mobile);
}


@media (min-width: 810px) {
    .testimonialSection {
        margin-top: calc(var(--section-padding-desktop)*1.1);
    }

    .testimonialSection h3 {
    text-align: center;
    max-width: 24ch;
    padding-bottom: var(--section-padding-mobile);
    line-height: var(--text-leading-XXlarge-mobile);
    font-size: var(--Text-size-XLarge);
}

}

@media (min-width: 1355px) {
    .testimonialSection {
        margin-top: calc(var(--section-padding-desktop)*2);
    }
}


/* Footer */

footer {
    background-color: var(--footer-bg-color);
    
}

footer section div p {
    color: white;
}

.footerTitle {
    font-size: var(--Text-size-XLarge);
    
}

.footerSubtitle {
    font-size: var(--text-size-body);
    opacity: var(--opacity-medium-emphasis);
}

footer section div li {
    color: white;
    font-family: var(--body-font-family);
    opacity: var(--opacity-low-emphasis);
    font-weight: 400;
    text-decoration: none; 
}

footer section div li a {
  text-decoration: none;
  color: white;
}

footer section div li a:hover {
    text-decoration: underline;
}



.footerGrid {
    display: grid;
    grid-template-columns: 1fr;
    margin-inline: var(--margin-mobile);
    margin-top: var(--title-padding-mobile);
    gap: 1rem;
    padding-top: var(--title-padding-mobile);
}


.listHeader{
    font-weight: 500;
}
.listFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.listFlex li {
    padding-bottom: 1rem;
}

@media (min-width: 810px) {
    .footerGrid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 1rem;
    padding-block: var(--section-padding-mobile);
}
 
.footerItemContainer1 {
    grid-column: 1;
}


.footerItemContainer2{
grid-column: 2;
}


.footerItemContainer3 {
grid-column: 3;
}
}











@media (min-width: 810px) {
   .menuKnap {
    display: none;
  }

}









@media (min-width: 1366px) {
  


    .logo {
        margin-left: var(--margin-desktop);
    }

  .deskTopNav {
    display: flex;
    flex-direction: row;
    font-family: var(--Header-font-family);
    font-weight: 500;
    margin-inline: var(--margin-desktop);
    background-color: white;
  }

  .deskNavLink {
    display: inline-block;
    position: relative;
    color: rgb(255, 255, 255);
    margin-inline: 1rem;
  }

  .deskNavLink::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -8px;
    left: 0;
    background-color: #ef0e0e;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .deskNavLink:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .deskNavLink a {
    color: white;
  }
 

}